@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s7bs1g');
  src:  url('fonts/icomoon.eot?s7bs1g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s7bs1g') format('truetype'),
    url('fonts/icomoon.woff?s7bs1g') format('woff'),
    url('fonts/icomoon.svg?s7bs1g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nbj-logo:before {
  content: "\e905";
}
