.container .gn-menu-main .gn-trigger .gn-icon .gn-menu-wrapper {
  background: #3b3b3b !important;
}

.container .gn-menu-main .gn-trigger .gn-icon .gn-menu-wrapper .gn-scroller ul {
  background: #3b3b3b !important;
}

.container .gn-menu-main .gn-trigger .gn-icon .gn-menu-wrapper .gn-scroller ul li a {
  color: #fff !important;
}

.intro .slogan h1 {
  text-shadow: black 2px 2px;
}
